@import "mixins";
.our-clients {
  h2 {
    font-size: 3rem;
    color: #1f1e26;
    font-weight: 400;
  }
  p {
    font-size: 1.5rem;
    color: #4d4d4d;
    font-weight: 300;
  }
  .client-logos {
    img {
      margin: 1rem;
      @include lg {
        width: 8rem;
        margin: 0.5rem;
      }
      @include md{
        width: 4rem;
        margin: 0.2rem;
      }
    }
  }
}
// Used The Same For our-brands